[project]
	description = 1st comment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sylus2207
[access "refs/for/refs/*"]
	read = group user/sylus2207
	push = group user/sylus2207
	label-Code-Review = -2..+2 group user/sylus2207
	label-Verified = -1..+1 group user/sylus2207
	rebase = group user/sylus2207
	removeReviewer = group user/sylus2207
	submit = group user/sylus2207
[access "refs/heads/*"]
	read = group user/sylus2207
	create = group user/sylus2207
	push = +force group user/sylus2207
	pushMerge = group user/sylus2207
[access "refs/tags/*"]
	push = +force group user/sylus2207
	pushTag = group user/sylus2207
	pushSignedTag = group user/sylus2207
